body {
  text-align: center;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90vw;
  height: 90vh;
}

input {
  width: 10px;
  border: none;
}

input.a {
  width: auto;
  text-align: center;
}

#values {
  display: inline-block;
  width: 20%;
}

img {
  display: inline-block;
  height: 200px;
  width: 250px;
  padding: 15px;
}

.a {
  border: solid 3px red;
}

.btn {
  margin-bottom: 80px;
  height: 90px;
  background-color: red;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

 #r1 {
   display: none;
 }

 #r2 {
   display: none;
 }

 #r3 {
   display: none;
 }

 #r4 {
   display: none;
 }

.results{
  text-align: center;
}

ol {
  list-style-type: none;
  text-align: center;
  margin-right: 0px;
  padding: 0px;
}

li {
  margin-right: 0px;
  padding: 0px;
}

#reset {
  display: none;
}
